
.container {
    max-width: 1240px;
    padding: 0 2rem;
    margin: 7rem auto 0;


    form {
        display: flex;
       

        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;



            label {
                font-size: 1rem;
            }

            input {
                height: 35px;
                width: 50%;
                padding: 0 3rem;
            }
        }

        button {
            width: 150px;
            height: 40px;
            border: none;
            border-radius: 10px;
            background-color: blue;
            color: white;
        }
    }
}
